<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Fragments</title>
    </head>
    <body>

<!-- ------ -->
<!-- header -->
<!-- ------ -->

        <header th:fragment="header">
            <!-- HAUT -->
            <section class="haut">
                <nav class="voitureOrange"></nav>
                <h1>TOP RACE</h1>
                <nav class="voitureRouge"></nav>
            </section>

            <!-- MENU -->
            <section class="menu">
                <ul>
                    <li id="liRegles"><a id="aRegles" href="#" onclick='Cacher("para");Cacher("quitter");ACRules();'>Règles</a></li>
                    <li id="liPara"><a id="aPara" href="#" onclick='Cacher("rules");Cacher("quitter");ACPara();'>Paramètres</a></li>
                    <li id="liQuitter"><a id="aQuitter" href="#" onclick='Cacher("rules");Cacher("para");ACQuitter();'>Quitter</a></li>
                </ul>
            </section>

        </header>

<!-- -------------- -->
<!-- rulesParaQuitt -->
<!-- -------------- -->

        <div th:fragment="rulesParaQuitt(texteQuitter)" class="rulesParaQuitt">
            <nav class="fond" id="fondPara" onclick='ACPara();'></nav>
            <nav class="fond" id="fondQuitter" onclick='ACQuitter();'></nav>
            <nav class="fond" id="fondRules" onclick='ACRules();'></nav>
<!-- ------ -->
<!-- REGLES -->
<!-- ------ -->
            <nav th:fragment="rules" id="rules">
                <nav id="carreHaut2"></nav>
                <nav id="carreBas2"></nav>
                <nav id="rulesScorll">
                    <button class="x" onclick='ACRules();'>X</button>
                    <h2>Voici les règles du jeu</h2>
                    <p>Top race est un jeu de plateau, il se joue avec des cartes, des pions de couleurs en forme de voiture et comporte un système de paris.</p>
                    <u>Les cartes :</u>
                    <p>Chaque joueur a une voiture (tirée au hasard) et elles sont toutes sur la ligne de départ.</p>
                    <p>Chaque joueur a un paquet de cartes pour faire avancer les voitures.</p>
                    <p>Les cartes contiennent un ou plusieurs numéros et chaque numéro a une couleur.</p>
                    <p>Exemple : le numéro 5 rouge va donc faire avancer la voiture rouge de 5 cases.</p>
                    <p>La voiture noire n’existant pas, la couleur noir permet de faire avancer n’importe quelle voiture choisie par le joueur. </p>
                    <p>Les joueurs peuvent donc faire avancer plusieurs voitures en même temps, mais la voiture qui avance la première est celle dont le numéro est le plus grand.</p>

                    <figure class="cartes"><img src="img/cartes/22.png" width="100px"><img src="img/cartes/11.png" width="100px"><img src="img/cartes/61.png" width="100px"><img src="img/cartes/43.png" width="100px"></figure>

                    <u>Le système de paris :</u>
                    <p>Le circuit contient plusieurs lignes jaunes qui sont des lignes de « paris ». </p>
                    <p>Au début du jeu, chaque joueur fait un pari sur les 3 voitures qu’il pense être en tête quand la première ligne jaune sera passée par une voiture. </p>
                    <p>(Chaque joueur a le tableau ci-dessous et met des croix dans 3 cases correspondantes aux voitures sur lesquelles il parie)</p>
                    <p>Les paris sont donc renouvelés à chaque fois qu’une nouvelle ligne jaune est dépassée. Un nombre de points (positifs ou négatifs) et attribué en fonction du tableau.</p>

                    <figure class="paris"><img src="img/paris.png" width="800px"></figure>

                    <u>Ligne d’arrivée :</u>
                    <p>Et pour finir, il y a un classement à la ligne d’arrivée.</p>
                    <figure class="final"><img src="img/final.png" width="600px"></figure>
                    <p>Entre la dernière ligne jaune et la ligne d’arrivée, il n’y a plus de système de pari. C’est chacun pour soi : on essaye de faire gagner NOTRE </p>
                    <p>voiture avec les cartes qu’il nous reste. Le total des points des paris plus les points du classement à l’arrivée donne les points totaux et ainsi détermine le gagnant.</p>
                </nav>
            </nav>
<!-- ------- -->
<!-- QUITTER -->
<!-- ------- -->
            <nav id="quitter">
                <table>
                    <tr align="center">
                        <td colspan="2" align="center">
                            <button class="x" onclick='ACQuitter();'>X</button>
                            <h2 th:text="${'Voulez-vous vraiment quitter '+texteQuitter+' ?'}"></h2>
                        </td>
                    </tr>
                    <tr>
                        <td class="btnQuitter"><button type="submit"><a href="home" th:text="${'Quitter '+texteQuitter}" onclick="quitter();"></a></button></td>
                        <td align="right" class="btnQuitter"><button type="submit" onclick='ACQuitter();' th:text="${'Retour à '+texteQuitter}"></button></td>
                    </tr>
                </table>
            </nav>
<!-- ---------- -->
<!-- PARAMETRES -->
<!-- ---------- -->
            <nav th:fragment="para" id="para">
                <button class="x" onclick='ACPara();'>X</button>
                <h2>Changer les paramètres</h2>
                <table>
                    <th><h3>Volume</h3></th>
                    <tr>
                        <td align="right">Volume principal&nbsp;</td>
                        <td>
                            <form id='formulaire2' method="post" enctype="text/plain" oninput="v.value=parseInt(volume.value)">
                                <input type="range" id="volume" name="volume" min="0" max="100" value="50">
                                <output name="v" for="volume"></output>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">Musique&nbsp;</td>
                        <td>
                            <form id='formulaire3' method="post" enctype="text/plain" oninput="m.value=parseInt(musique.value)">
                                <input type="range" id="musique" name="musique" min="0" max="100" value="50">
                                <output name="m" for="musique"></output>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">Effets sonores&nbsp;</td>
                        <td>
                            <form id='formulaire4' method="post" enctype="text/plain" oninput="e.value=parseInt(effet.value)">
                                <input type="range" id="effet" name="effet" min="0" max="100" value="50">
                                <output name="e" for="effet"></output>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Alerte&nbsp;</td>
                        <td>
                            <form id='formulaire' method="post" enctype="text/plain" oninput="a.value=parseInt(alerte.value)">
                                <input type="range" id="alerte" name="alerte" min="0" max="100" value="50">
                                <output name="a" for="alerte"></output>
                            </form>
                        </td>
                    </tr>
                    <th><h3>Langue</h3></th>
                    <tr>
                        <td align="right">Français&nbsp;</td>
                        <td>
                            <img src="img/france.png" width="75px">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Anglais&nbsp;</td>
                        <td>
                            <img src="img/anglais.png" width="75px">
                        </td>
                    </tr>
                </table>
            </nav>
        </div>

    </body>
</html>