<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
    	<title>TOP RACE - Accueil</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='css/index.css'>
        <link rel="shortcut icon" href="img/logo.png">
        <script type="text/javascript">

        function Cacher(texte) {
            document.getElementById(texte).style.display = "none";
        }

        function Afficher(texte) {
            document.getElementById(texte).style.display = "";
        }

        </script>
    </head>

    <body onload="Afficher('index');Cacher('para');Cacher('rules');">

<!-- HEADER -->
    	<header>
    <!-- HAUT -->
    		<section class="haut">
                <nav class="voitureOrange"></nav>
                <h1>TOP RACE</h1>
                <nav class="voitureRouge"></nav>
            </section>

	<!-- MENU -->
	    	<section class="menu">
	    		<ul>
	    			<li><a href="home">Accueil</a></li>
	    			<li><a href="#" onclick="Afficher('rules');Cacher('para');Cacher('index');">Règles</a></li>
	    			<li><a href="#" onclick="Afficher('para');Cacher('rules');Cacher('index');">Paramètres</a></li>
	    			<li><a href="jouer">Jouer</a></li>
	    		</ul>
	    	</section>

    	</header>

<!-- CONTENU -->
    	<section class="page">
    		<nav class="bande1"></nav>
    		<nav class="contenu">
                <nav id="index">
        			<h2>Vous êtes sur la page d'accueil</h2>
        			<pre><font face="verdana">Top race est un ancien jeu de plateau traditionnel : 
il se joue avec des pions, un plateau et surtout des feuilles. 
Nous l'avons modernisé et remis ainsi au goût du jour.

Grâce à ce site, il sera possible de jouer une partie avec 
des personnes physiquement éloignées de nous et sans forcément
posséder le plateau et les éléments nécessaires au jeu.</font></pre>
                </nav>
                <div th:replace="~{fragments::rules}"></div>
                <div th:replace="~{fragments::para}"></div>

    		</nav>
    		<nav class="bande2"></nav>

            <section class="footer">
                <p></p> <!--le footer est vide -->
            </section>
    	</section>

    </body>
    
</html>