<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TOP RACE - Jouer</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='css/pageJeu.css'>
    <link rel='stylesheet' href='css/tuto.css'> <!-- style du tutoriel -->
    <link rel='stylesheet' href='css/menu.css'> <!-- style du menu, du body, et du background -->
    <link rel='stylesheet' href='css/rulesParaQuitt.css'> <!-- style des div #rules et #para -->
    <link rel='stylesheet' href='css/scrollBar.css'> <!-- style de la scrollbar -->
    <link rel="shortcut icon" href="img/logo.png">
    <script type="text/javascript" src="js/rulesParaQuitt.js"></script>
    <script type="text/javascript" src="js/tuto.js"></script>
    <script type="text/javascript" src="js/banderole.js"></script>
    <script type="text/javascript" src="js/derniereAction.js"></script>
    <script type="text/javascript" src="js/toutSurLePari.js"></script>
    <script type="text/javascript" src="js/confirmAlert.js"></script>
    <script type="text/javascript">

        function avancerVoiture(couleur, top, left, rotate) {
            var voiture = document.getElementById("joueur"+couleur);
            voiture.style.top = top+"vh";
            voiture.style.left = left+"vh";
            voiture.style.transform = "rotate("+rotate+"deg)";
            voiture.style.backgroundColor
        }

        function quitter() {
            var request = new XMLHttpRequest();
            var data = {};
            data.couleurJ = document.getElementById("couleurJ").innerText || document.getElementById("couleurJ").textContent;
            data.idPartie = document.getElementById("idPartie").innerText || document.getElementById("idPartie").textContent;
            data.data = "null";
            request.open("POST", "webservices/wait/quitt", true);
            request.responseType = "json";
            request.onload = function () {
                var answer = this.response;

            }

            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send("data=" + JSON.stringify(data));
        }

        function avancer(cse){
            console.log("avancer("+cse+")");
            if (cse != 61 && cse != 62 && cse != 63 && cse != 64 && cse != 65 && cse != 66  && cse != 31 && cse != 32 && cse != 33 && cse != 34 && cse != 35 && cse != 36
                && cse != 41 && cse != 42 && cse != 43 && cse != 44 && cse != 45 && cse != 46) {
                var request = new XMLHttpRequest();
                var data = {};
                data.couleurJ = document.getElementById("couleurJ").innerText || document.getElementById("couleurJ").textContent;
                data.idPartie = document.getElementById("idPartie").innerText || document.getElementById("idPartie").textContent;
                request.open("POST", "webservices/game/avancer", true);
                request.responseType = "json";
                request.onload = function () {
                    var answer = this.response;
                    var longeur = parseInt(answer[0]);
                    var i = 1;
                    for (var j = 0; j < longeur; j++) {
                        var top = "";
                        var left = "";
                        var couleur = "";
                        var rotate = "";
                        var comt = "";
                        i = i + 1;
                        while (answer[i] != '-') {
                            if (answer[i] == '#') {
                                couleur = comt;
                                comt = "";
                                i = i + 1;
                            } else if (answer[i] == "/") {
                                top = comt;
                                comt = "";
                                i = i + 1;
                            } else if (answer[i] == "+") {
                                left = comt;
                                comt = "";
                                i = i + 1;
                            } else {
                                comt = comt + answer[i];
                                i = i + 1;
                            }
                        }
                        rotate = comt;
                        avancerVoiture(couleur, top, left, rotate);
                    };
                }
                data.data=cse;
                request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                request.send("data=" + JSON.stringify(data));
                /* et on l'envoit */
            } else {
                var eltIdCartes = document.getElementById("idCarte");
                var idCart = document.createTextNode(cse);
                eltIdCartes.replaceChild(idCart, eltIdCartes.firstChild);
                var eltLaCarte = document.getElementById("imgLaCarte");
                var bkgd = "url(img/cartes/"+cse+".png)";
                eltLaCarte.style.backgroundImage= bkgd;
                if (cse == 31){ document.getElementById("jaune").disabled = true;
                    document.getElementById("jauneTexte").style.textDecoration = "line-through";}
                if (cse == 32){ document.getElementById("rouge").disabled = true;
                    document.getElementById("rougeTexte").style.textDecoration = "line-through";}
                if (cse == 33){ document.getElementById("violette").disabled = true;
                    document.getElementById("violetteTexte").style.textDecoration = "line-through";}
                if (cse == 34){ document.getElementById("bleue").disabled = true;
                    document.getElementById("bleueTexte").style.textDecoration = "line-through";}
                if (cse == 35){ document.getElementById("verte").disabled = true;
                    document.getElementById("verteTexte").style.textDecoration = "line-through";}
                if (cse == 36){ document.getElementById("blanche").disabled = true
                    document.getElementById("blancheTexte").style.textDecoration = "line-through";}
                if (cse == 41 || cse == 42 || cse == 43){ document.getElementById("jaune").disabled = true;
                    document.getElementById("jauneTexte").style.textDecoration = "line-through";
                    document.getElementById("bleue").disabled = true;
                    document.getElementById("bleueTexte").style.textDecoration = "line-through";
                    document.getElementById("blanche").disabled = true;
                    document.getElementById("blancheTexte").style.textDecoration = "line-through";}
                if (cse == 44 || cse == 45 || cse == 46){ document.getElementById("violette").disabled = true;
                    document.getElementById("violetteTexte").style.textDecoration = "line-through";
                    document.getElementById("rouge").disabled = true;
                    document.getElementById("rougeTexte").style.textDecoration = "line-through";
                    document.getElementById("verte").disabled = true;
                    document.getElementById("verteTexte").style.textDecoration = "line-through"; }
                AfficherCacher("choixCartes");
                AfficherCacher("fondChoixCartes");
            }
        }


        function choixCartes() {
            console.log("choixCartes");
            var bool = false;
            var elems = document.getElementsByName("couleurCarte");
            for (var i = 0; i < elems.length; i++) {
                if (elems[i].checked) {
                    bool = true;
                }

            }
            if (bool == true){
                var couleur = document.fromChoixCarte.couleurCarte.value;
                var eltIdCartes = document.getElementById("idCarte");
                var idCartes = eltIdCartes.innerText || eltIdCartes.textContent;
                for (var i = 0; i < elems.length; i++) {
                    elems[i].checked = false;
                    elems[i].disabled = false;
                }
                document.getElementById("jauneTexte").style.textDecoration = "none";
                document.getElementById("bleueTexte").style.textDecoration = "none";
                document.getElementById("blancheTexte").style.textDecoration = "none";
                document.getElementById("violetteTexte").style.textDecoration = "none";
                document.getElementById("rougeTexte").style.textDecoration = "none";
                document.getElementById("verteTexte").style.textDecoration = "none";
                AfficherCacher("choixCartes");
                AfficherCacher("fondChoixCartes");
                derniereAction("carte"+idCartes);
                document.getElementById('carte'+idCartes).style.display = "none";
                avancer(idCartes+couleur);
                disableCarte();
                changeEtat("rien");
                 var eltParent = document.getElementById('navCompteur');
                 eltParent.innerHTML='Carte jouée';
                 var newElt = document.createElement("span"); //on crée le span (qui sert de compteur)
                 newElt.id = "compteur"; //on met son id
                 newElt.innerHTML = "0"; // le temps du compteur
                 newElt.style.display = "none";
                 eltParent.appendChild(newElt); // le compteur
                 console.log(" je suis lancé depuis choixCartes");
                clearTimeout(timerr);
                timerr = window.setTimeout("compteur('" + 'Carte jouée' + "');", 2999);
            }else{
                bulleAlert("tu dois choisir une couleur !");
            }
        }

        function inverse(ID, COL){
            var table = document.getElementById(ID);
            var nom = navigator.appName;
            if (nom == 'Netscape'){
                var detail=document.getElementsByName(COL);
            } else {
                var detail=getCellByName(table,COL);
            }
            if (detail[0].style.display == ""){
                for(var i = 0; i < detail.length; ++i) detail[i].style.display = "none";
            } else {
                for(var i = 0; i < detail.length; ++i) detail[i].style.display = "";
            }
        }

        function getCellByName(tab, nom){
            var cols=new Array();
            cellules=tab.getElementsByTagName("td");
            for(var i = 0; i < cellules.length; ++i){
                if(cellules[i].name==nom){
                    cols[cols.length]=cellules[i];
                }
            }
            return cols;
        }

        function classActive(coul){
            document.getElementById(coul).classList.add("active");
        }



    </script>

</head>

<body th:onload="${'classActive(\''+couleurJoueurr+'\');LeOnload();'}">

<!-- HEADER -->
<header th:replace="~{fragments::header}"></header>

<!-- CONTENU -->
<section class="page">

<!-- Fragrment pour les nav régles, paramètres et quitter -->
    <div th:replace="~{fragments::rulesParaQuitt('la partie')}"></div>

<!-- nav pour le Choix de la voiture a faire avancer, en cas de noir sur la carte -->
    <nav class="fond" id="fondChoixCartes"></nav>
    <nav id="choixCartes">
        <p id="idCarte" style="visibility: hidden;position:fixed;">0</p>
        <h2 style="text-align: center; margin-bottom: 0px;">Choix de la couleur de la voiture</h2>
        <h2 style="text-align: center; margin-top: 0px;">à faire avancer de 5 cases</h2>
        <p style="text-align: center; margin-bottom: 0px;">(Vous ne pouvez pas choisir une</p>
        <p style="text-align: center; margin-top: 0px;">couleur déjà présente sur la carte)</p>
        <form name='fromChoixCarte'><table align="center" style="margin-top: 40px">
            <tr class="choixJaune">
                <td id="jauneTexte" style="color:#ffd800;font-weight: bold;font-size: 22px;">Jaune</td>
                <td align="center"><input type="radio" name="couleurCarte" value="Jaune" id="jaune" /><label for="jaune"></label></td>
                <td align="center" class="laCarte">Votre carte :</td>
            </tr>
            <tr class="choixBleue">
                <td id="bleueTexte" style="color:#2551d9;font-weight: bold;font-size: 22px;">Bleue</td>
                <td align="center"><input type="radio" name="couleurCarte" value="Bleu" id="bleue" /><label for="bleue"></label></td>
                <td rowspan="5" id="laCarte" class="laCarte"><nav id="imgLaCarte" class="imagee" style="background-image: url(img/cartes/1.png);background-size: cover;'}"></nav></td>
            </tr>
            <tr class="choixRouge">
                <td id="rougeTexte" style="color:#fb2b2b;font-weight: bold;font-size: 22px;">Rouge</td>
                <td align="center"><input type="radio" name="couleurCarte" value="Rouge" id="rouge" /><label for="rouge"></label></td>
            </tr>
            <tr class="choixViolette">
                <td id="violetteTexte" style="color:#864daf;font-weight: bold;font-size: 22px;">Violette</td>
                <td align="center"><input type="radio" name="couleurCarte" value="Violet" id="violette" /><label for="violette"></label></td>
            </tr>
            <tr class="choixBlanche">
                <td id="blancheTexte" style="color:white;font-weight: bold;font-size: 22px;">Blanche</td>
                <td align="center"><input type="radio" name="couleurCarte" value="Blanc" id="blanche" /><label for="blanche"></label></td>
            </tr>
            <tr class="choixVerte">
                <td id="verteTexte" style="color:#2fb129;font-weight: bold;font-size: 22px;">Verte</td>
                <td align="center"><input type="radio" name="couleurCarte" value="Vert" id="verte" /><label for="verte"></label></td>
            </tr>
            <tr class="choixBoutton">
                <td class="btnChoix btnLaCarte" colspan="3" align="center"><button type="button" onclick="choixCartes()">Valider</button></td>
            </tr>
        </table>
        </form>
    </nav>

<!-- nav pour l'images de la bande sur le coté droit -->
    <nav class="bande1"></nav>

<!-- nav pour l'images de la bande sur le coté droit -->
    <nav class="bande2"></nav>

<!-- nav afficher le nom des joueuers -->
    <nav id="joueurs">
       <nav th:each="joueur : ${listOfJoueur}" th:id="${joueur.couleur}" th:class="${'j'+joueur.couleur}" th:text="${joueur.nomJoueur}"></nav>
    </nav>

<!-- affichage de la fleche rouge -->
    <section id="flecheRouge"></section>

<!-- affichage de la derniere carte joué par un joueur -->
    <section id="lastCarte"></section>

<!-- section pour idPartie -->
    <section id="idPartie" style="display: none" th:text="${PartieById.idPartie}">1</section>

<!-- section pour couleurJ -->
    <section id="couleurJ" style="display: none" th:text="${couleurJoueurr}">Vert</section>

<!-- nav pour le nom de la partie -->
    <nav id="nomPartie">
        <p th:text="${PartieById.nomDePartie}">Nom de la partie</p>
    </nav>

<!-- nav pour le tableau de paris a effectuer -->
    <nav id="plateauParis">
        <table id="tb">
            <tr>
                <td><button class="bouttonJaune" name="col6" onclick="inverse('tb', 'col0');
                                                                              inverse('tb', 'col3');
                                                                              inverse('tb', 'col6');">1</button> <!-- plusUn(); cartesTaille(); -->

                    <button class="bouttonRouge" name="col3" onclick="inverse('tb', 'col0');
                                                                              inverse('tb', 'col6');
                                                                              inverse('tb', 'col3');">1</button> <!-- moinsUn(); cartesTaille(); -->
                </td>
                <td rowspan="3">Couleur</td>
                <td class="colonnePari" name="col0" rowspan="3" align="center" id="titreCol0">1er pari</td>
                <td class="colonnePari" name="col1" rowspan="3" align="center" id="titreCol1">2ème pari</td>
                <td class="colonnePari" name="col2" rowspan="3" align="center" id="titreCol2">3ème pari</td>
            </tr>
            <tr>
                <td><button class="bouttonJaune" name="col7" onclick="inverse('tb', 'col1');
                                                                              inverse('tb', 'col4');
                                                                              inverse('tb', 'col7');">2</button> <!-- plusUn(); cartesTaille(); -->
                    <button class="bouttonRouge" name="col4" onclick="inverse('tb', 'col1');
                                                                              inverse('tb', 'col7');
                                                                              inverse('tb', 'col4');">2</button> <!-- moinsUn(); cartesTaille(); -->
                </td>
            </tr>
            <tr>
                <td><button class="bouttonJaune" name="col8" onclick="inverse('tb', 'col2');
                                                                              inverse('tb', 'col5');
                                                                              inverse('tb', 'col8');">3</button> <!-- plusUn(); cartesTaille(); -->
                    <button class="bouttonRouge" name="col5" onclick="inverse('tb', 'col2');
                                                                              inverse('tb', 'col8');
                                                                              inverse('tb', 'col5');">3</button> <!-- moinsUn(); cartesTaille(); -->
                </td>
            </tr>
            <tr class="pariReponseJaune">
                <td colspan="2">Jaune</td>
                <td class="colonnePari" name="col0" align="center"><input class="pariUn" type="checkbox" name="jaune1" value="jaune1" id="jaune1" /><label for="jaune1"></label></td>
                <td class="colonnePari" name="col1" align="center"><input class="pariDeux" type="checkbox" name="jaune2" value="jaune2" id="jaune2" /><label for="jaune2"></label></td>
                <td class="colonnePari" name="col2" align="center"><input class="pariTrois" type="checkbox" name="jaune3" value="jaune3" id="jaune3" /><label for="jaune3"></label></td>
            </tr>
            <tr class="pariReponseBleue">
                <td colspan="2">Bleue</td>
                <td class="colonnePari" name="col0" align="center"><input class="pariUn" type="checkbox" name="bleue1" value="bleue1" id="bleue1" /><label for="bleue1"></label></td>
                <td class="colonnePari" name="col1" align="center"><input class="pariDeux" type="checkbox" name="bleue2" value="bleue2" id="bleue2" /><label for="bleue2"></label></td>
                <td class="colonnePari" name="col2" align="center"><input class="pariTrois" type="checkbox" name="bleue3" value="bleue3" id="bleue3" /><label for="bleue3"></label></td>
            </tr>
            <tr class="pariReponseRouge">
                <td colspan="2">Rouge</td>
                <td class="colonnePari" name="col0" align="center"><input class="pariUn" type="checkbox" name="rouge1" value="rouge1" id="rouge1" /><label for="rouge1"></label></td>
                <td class="colonnePari" name="col1" align="center"><input class="pariDeux" type="checkbox" name="rouge2" value="rouge2" id="rouge2" /><label for="rouge2"></label></td>
                <td class="colonnePari" name="col2" align="center"><input class="pariTrois" type="checkbox" name="rouge3" value="rouge3" id="rouge3" /><label for="rouge3"></label></td>
            </tr>
            <tr class="pariReponseViolette">
                <td colspan="2">Violette</td>
                <td class="colonnePari" name="col0" align="center"><input class="pariUn" type="checkbox" name="violette1" value="violette1" id="violette1" /><label for="violette1"></label></td>
                <td class="colonnePari" name="col1" align="center"><input class="pariDeux" type="checkbox" name="violette2" value="violette2" id="violette2" /><label for="violette2"></label></td>
                <td class="colonnePari" name="col2" align="center"><input class="pariTrois" type="checkbox" name="violette3" value="violette3" id="violette3" /><label for="violette3"></label></td>
            </tr>
            <tr class="pariReponseBlanche">
                <td colspan="2">Blanche</td>
                <td class="colonnePari" name="col0" align="center"><input class="pariUn" type="checkbox" name="blanche1" value="blanche1" id="blanche1" /><label for="blanche1"></label></td>
                <td class="colonnePari" name="col1" align="center"><input class="pariDeux" type="checkbox" name="blanche2" value="blanche2" id="blanche2" /><label for="blanche2"></label></td>
                <td class="colonnePari" name="col2" align="center"><input class="pariTrois" type="checkbox" name="blanche3" value="blanche3" id="blanche3" /><label for="blanche3"></label></td>
            </tr>
            <tr class="pariReponseVerte">
                <td colspan="2">Verte</td>
                <td class="colonnePari" name="col0" align="center"><input class="pariUn" type="checkbox" name="verte1" value="verte1" id="verte1" /><label for="verte1"></label></td>
                <td class="colonnePari" name="col1" align="center"><input class="pariDeux" type="checkbox" name="verte2" value="verte2" id="verte2" /><label for="verte2"></label></td>
                <td class="colonnePari" name="col2" align="center"><input class="pariTrois" type="checkbox" name="verte3" value="verte3" id="verte3" /><label for="verte3"></label></td>
            </tr>
            <tr class="totalPoints">
                <td colspan="2">Total points</td>
                <td class="colonnePari" name="col0" align="center">-</td>
                <td class="colonnePari" name="col1" align="center">-</td>
                <td class="colonnePari" name="col2" align="center">-</td>
            </tr>
            <tr class="pariReponse">
                <td colspan="2" class="vide"></td>
                <td class="colonnePari btnValide" name="col0" align="center">
                    <button id="btnPari1" onclick="console.log('test');">Valider</button>
                </td>
                <td class="colonnePari btnValide" name="col1" align="center">
                    <button id="btnPari2" onclick="console.log('test');">Valider</button>
                </td>
                <td class="colonnePari btnValide" name="col2" align="center">
                    <button id="btnPari3" onclick="console.log('test');">Valider</button>
                </td>
            </tr>
        </table>
    </nav>

<!-- nav pour afficher le plateau -->
    <nav id="plateau">
    </nav>

<!-- nav pour mettre en valeur les ligne jaunes lors du tuto -->
    <nav id="ligneJaune">
    </nav>

<!-- nav pour les images des voitures -->
    <nav class="joueurVoiture" id="joueurJaune"></nav>
    <nav class="joueurVoiture" id="joueurViolet"></nav>
    <nav class="joueurVoiture" id="joueurRouge"></nav>
    <nav class="joueurVoiture" id="joueurBleu"></nav>
    <nav class="joueurVoiture" id="joueurBlanc"></nav>
    <nav class="joueurVoiture" id="joueurVert"></nav>


<!-- nav pour titre de la nav carte -->
    <nav id="carteTitre">
        <b> Cartes </b>
    </nav>

<!-- nav pour les images des cartes du joueurs -->
    <nav id="ligneCartes">
        <nav class="imagee" th:each="carte : ${listCarte}" th:style="${'background-image: url(img/cartes/'+carte.idCarte+'.png);background-size: cover;'}" th:id="${'carte'+carte.idCarte}" th:onclick="${'ConfirmChoixCartes('+carte.idCarte+');'}"></nav>
    </nav>

<!-- nav pour les résultats paris -->
    <nav id="fondResultPari" class="fond"></nav>
    <nav id="resultPari">
        <button class="x" onclick="bullePari('fermer','','','','','','');">
            X
        </button>
        <h2 id="titreResultPari"></h2>
        <table id="tableResultPari" align="center">
            <tr>
                <td align="center">Joueur</td>
                <td align="center">Score</td>
            </tr>
            <tr th:each="joueur : ${listOfJoueur}" >
                <td th:id="${joueur.couleur+'Couleur'}" th:text="${joueur.nomJoueur}"></td>
                <td align="center" th:id="${joueur.couleur+'PariJoueur'}" th:text="${joueur.score}"></td>
            </tr>
        </table>
    </nav>

<!-- section de l'alert -->
    <nav id="fondbulleAlert" onclick='bulleAlert("fermer");'></nav>
    <section id="bulleAlert">
        <button class="x" onclick='bulleAlert("fermer");'>
            X
        </button>
        <h2>Alerte</h2>
        <p id="bulleAlertTexte"></p>
    </section>

<!-- -->
    <nav id="fondConfirmChoixCartes" onclick='ConfirmChoixCartes("fermer");'></nav>
    <nav id="confirmChoixCartes">
        <button class="x" onclick='ConfirmChoixCartes("fermer");'>
            X
        </button>
        <p id="idConfirmChoixCartes" style="visibility: hidden;position:fixed;">0</p>
        <h2 style="text-align: center; margin-bottom: 0px;">Voulez-vous jouer cette carte ?</h2>
        <table align="center">
            <tr>
                <td colspan="2">
                    <section class="imagee" id="laCarteConfirm"  style="background-image: url(img/cartes/1.png);background-size: cover;'}"></section>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick='ConfirmChoixCartes("fermer");'>Non</button>
                </td>
                <td>
                    <button onclick='ConfirmChoixCartes("fermer");suiteDeChoixCarte();'>Oui</button>
                </td>
            </tr>
        </table>
    </nav>

<!-- ------- -->
<!-- le tuto -->
<!-- ------- -->
<!-- id des nav :fondTuto,tutoTouSElmt(tutoNomPartieJoueurs,tutoPlateau,tutoCarte) -->

    <nav class="fond" id="fondTuto"></nav>
    <nav id="fondNoir"></nav>
    <nav id="tutoInclicable"></nav>
    <nav id="fondTuto1"></nav>
    <nav id="fondTuto2"></nav>

    <nav id="tutoPrez">
        <button class="x" onclick='fermerTuto();'>
            X
        </button>
        <h2>Tutoriel (1/8)</h2>
        <p>Bienvenue dans le tutoriel pour apprendre à utiliser l’interface du jeu top race.</p>
        <p>Il vous est possible de quitter le tutoriel à tout moment en appuyant sur le bouton <button>X</button> en haut à droite</p>
        <p>Dans un premier temps nous allons nous familiariser avec tous les éléments présents sur la page.</p>
        <button class="x" onclick=' Cacher("tutoPrez");
                                    zindex("nomPartie",10007);
                                    zindex("joueurs",10007);
                                    Afficher("tutoTouSElmt");
                                    Afficher("tutoNomPartieJoueurs");
                                    Cacher("tutoPlateau");
                                    Cacher("tutoCarte");'>
            Next
        </button>
    </nav>

    <nav id="tutoTouSElmt">
        <button class="x" onclick='fermerTuto();'>
            X
        </button>
        <nav id="tutoNomPartieJoueurs">
            <h2>Tutoriel (2/8)</h2>
            <p>Ici se trouve le :</p>
            <p>- Le nom de la partie</p>
            <p>- le nom des joueurs par ordre de jeu</p>
            <button class="x" onclick=' Cacher("tutoNomPartieJoueurs");
                                        Afficher("tutoFlecheCarte");
                                        zindex("nomPartie",1);
                                        zindex("joueurs",1);
                                        zindex("flecheRouge",10007);
                                        zindex("lastCarte",100007);'>
                Next
            </button>
        </nav>
        <nav id="tutoFlecheCarte">
            <h2>Tutoriel (3/8)</h2>
            <p>On peut voir ici une flèche indiquant qui est le prochain joueur qui doit jouer.</p>
            <p>On y voit aussi la dernière carte jouée par un joueur. Elle apparait a coté du joueur en question. Cela vous permet de savoir quelles cartes ont déjà été joués</p>
            <button class="x" onclick=' Cacher("tutoFlecheCarte");
                                        Afficher("tutoPlateau");
                                        zindex("flecheRouge",1);
                                        zindex("lastCarte",1);
                                        zindex("plateau",10007);
                                        zindex("joueurJaune",100007);
                                        zindex("joueurViolet",100007);
                                        zindex("joueurBleu",100007);
                                        zindex("joueurRouge",100007);
                                        zindex("joueurBlanc",100007);
                                        zindex("joueurVert",100007);'>
                Next
            </button>
        </nav>
        <nav id="tutoPlateau">
            <h2>Tutoriel (4/8)</h2>
            <p>Ici se trouve le plateau</p>
            <p>On peut y voir les 6 voitures sur la ligne de départ, que vous allez faire avancer grâce aux cartes</p>
            <button class="x" onclick=' Cacher("tutoPlateau");
                                        Afficher("tutoCarte");
                                        zindex("plateau",0);
                                        zindex("joueurJaune",1);
                                        zindex("joueurViolet",1);
                                        zindex("joueurBleu",1);
                                        zindex("joueurRouge",1);
                                        zindex("joueurBlanc",1);
                                        zindex("joueurVert",1);
                                        zindex("ligneCartes",10007);
                                        zindex("carteTitre",10007);'>
                Next
            </button>
        </nav>
        <nav id="tutoCarte">
            <h2>Tutoriel (5/8)</h2>
            <p>En parlant des cartes :</p>
            <p>Voici les cartes à votre disposition</p>
            <p>Chaque joueurs à des cartes differentes</p>
            <p>Les cartes avec des voitures noires font avancer la voiture de votre choix</p>
            <button class="x" onclick=' Cacher("tutoCarte");
                                        Afficher("tutoNomPartieJoueurs");
                                        Cacher("tutoTouSElmt");
                                        Afficher("tutoParis");
                                        zindex("ligneCartes",1);
                                        zindex("carteTitre",2);
                                        zindex("plateauParis",10007);
                                        Afficher("tutoParis");
                                        ouvrirTableau();'>
                Next
            </button>
        </nav>
    </nav>

    <nav id="tutoParis">
        <button class="x" onclick='fermerTuto();'>
            X
        </button>
        <nav id="tutoPari1">
            <h2>Tutoriel (6/8)</h2>
            <p>Le sytème de paris est la base du jeu. C'est grâce aux paris que vous gagnez des points. Il y a 3 paris à faire au total</p>
            <p>Cliquer sur les boutons <button class="bouttonJaune">1</button> <button class="bouttonRouge">2</button> <button class="bouttonJaune">3</button> pour afficher ou cacher les paris 1,2 et 3</p>
            <button class="x next" onclick=' Cacher("tutoPari1");
                                        Afficher("tutoPari2");
                                        Afficher("ligneJaune");
                                        zindex("ligneJaune",10007);
                                        zindex("plateauParis",10007);
                                        Afficher("fondTuto1");Afficher("fondTuto2");
                                        animationPariEntree();
                                        periode = setInterval(clignotement, 500);'>
                Next
            </button>
        </nav>
        <nav id="tutoPari2">
            <h2>Tutoriel (7/8)</h2>
            <p>Le premier pari se fait dès le début du jeu.
                Chaque joueur parie sur les 3 voitures qu'il pense voir en tête dès que la 1er ligne jaune sera dépassée par une voiture.
                Une fois celle-ci dépassée, le jeu se met en pause, un nombre de points vous est attibué en fonction des voitures sur lesquelles vous avez parié.
                Il faut donc à présent faire le deuxième paris etc ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <button class="x next" onclick=' Cacher("tutoPari2");
                                        Afficher("tutoFin");
                                        Cacher("tutoParis");
                                        Cacher("ligneJaune");
                                        zindex("ligneJaune",-10);
                                        Cacher("fondTuto1");Cacher("fondTuto2");
                                        zindex("plateauParis",1);
                                        animationPariSortie();
                                        periode = 0;'>
                Next
            </button>
        </nav>
    </nav>
    <nav id="tutoFin">
        <button class="x" onclick='fermerTuto();'>
            X
        </button>
        <h2>Tutoriel (8/8)</h2>
        <p>Une fois la dernière ligne jaune dépassée, c'est du chacun pour soi. Le but est de faire arriver sa voiture en première.</p>
        <p>Un nombre de points est aussi ajouté en fonction du classement finale. le joueur ayant le plus de point gagne la partie !</p>
        <button class="x next" onclick='fermerTuto();'>
            Start !
        </button>
    </nav>


<!-- -------------------------- -->
<!-- les banderoles et compteur -->
<!-- -------------------------- -->
<!-- div pour les comptes-à-rebour -->
    <nav id="navCompteur"></nav>

<!-- div pour que tout soit incliquable -->
    <nav id="compteurInclicable"></nav>


    <section class="footer">
        <p></p> <!--le footer est vide -->
    </section>

</section>

</body>

</html>