/* ligne 1 = colonne joueurs + plateau + tableau paris */
.ligne1{
	position: fixed;
	top: 19vh;
}


/* ----------------------------- */
/* --- Nom de la partie --- */
/* ------------------------ */
#nomPartie{
	position: fixed;
	top: 18.5vh;
	left: 14vh;
	width: 25vh;
	padding: 1vh;
	background-color: #9E9E9E;
	border-radius: 2vh;
	border: 0.4vh solid grey;
	font-size: 3vh;
}
#nomPartie p{
	margin: 0;
	font-weight: bold;
}
/* ----------------------------- */
/* --- Affichage des joueurs --- */
/* ----------------------------- */

/* Colonne Joueurs */
#joueurs{
	position: fixed;
	top: 27vh;
	left: 18vh;
	width: 19vh;
	background-color: #9E9E9E;
	border-radius: 2vh;
	border: 0.4vh solid grey;
}
#joueurs nav{
	width: 13vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 2vh;
	border-radius: 1.3vh;
	padding: 0.8vh;
	font-size: 2.5vh;
}
.jBlanc{
	background-color: white;
	color: black;
}
.jVert{
	background-color: #2fb129;
	color: white;
}
.jBleu{
	background-color: #2551d9;
	color: white;
}
.jRouge{
	background-color: #fb2b2b;
	color: white;
}
.jViolet{
	background-color: #864daf;
	color: white;
}
.jJaune{
	background-color: #ffd800;
	color: white;
}

/* --------------- */
/* --- plateau --- */
/* --------------- */
#plateau{
	position: fixed;
	left: 45vh;
	top: 19vh;
	width: 80vh;
	height: 52vh;
	background-image: url(../img/plateau.png);
    background-size: cover;
}


/* --------------------- */
/* --- tableau paris --- */
/* --------------------- */
#plateauParis{
	position: fixed;
	right: 15vh;
	top: 19vh;
	margin-right: 3vh;
}
#plateauParis table{
	border: 0.4vh solid grey;
	border-collapse: collapse;
}
#plateauParis td {
	border: 0.2vh solid grey;
	padding: 1vh;
	background-color: #9E9E9E;
	font-size: 2vh;
}
.colonnePari {
	width: 11vh;
}
tr .vide{
	background-color: transparent;
	border-top: 0.4vh solid grey;
	border-right: 0.4vh solid transparent;
	border-left: 0.4vh solid transparent;
	border-bottom: 0.4vh solid transparent;
}
tr .btnValide{
	border: 0.3vh solid grey;
}
.btnValide button{
	padding: 0vh;
	color: yellow;
	font-size: 2vh;
	background-color: #696969;
	border: 0.3vh solid;
	border-top-color: #fdee00;
	border-left-color: #fdee00;
	border-bottom-color: #a99f00;
	border-right-color: #a99f00;
	width: 8vh;
	height: 3vh;
	outline : none;
}
/* boutton pour cacher/montrer les colonnes de paris (rouge pour caché, et jaune pour montré) */
.bouttonRouge{
	padding: 0vh;
	color: red;
	font-size: 2vh;
	background-color: #696969;
	border: 0.3vh solid red;
	border-top-color: #ff0000;
	border-left-color: #ff0000;
	border-bottom-color: #ab0000;
	border-right-color: #ab0000;
	width: 5vh;
	height: 3vh;
	outline : none;
}
.bouttonJaune{
	padding: 0vh;
	color: yellow;
	font-size: 2vh;
	background-color: #696969;
	border: 0.3vh solid;
	border-top-color: #fdee00;
	border-left-color: #fdee00;
	border-bottom-color: #a99f00;
	border-right-color: #a99f00;
	width: 5vh;
	height: 3vh;
	outline : none;
}
.bouttonRouge:hover, .bouttonJaune:hover, .btnValide button:hover {
	padding: 0vh;
	color: orange;
	font-size: 2vh;
	background-color: #808080;
	border: 0.3vh solid;
	border-top-color: #ffa500;
	border-left-color: #ffa500;
	border-bottom-color: #ab6e00;
	border-right-color: #ab6e00;
  	outline : none;
}
.bouttonRouge:active, .bouttonJaune:active, .btnValide button:active {
	padding: 0vh;
	color: orange;
	font-size: 2vh;
	background-color: #808080;
	border: 0.3vh solid;
	border-top-color: #ab6e00;
	border-left-color: #ab6e00;
	border-bottom-color: #ffa500;
	border-right-color: #ffa500;
	outline : none;
}
.btnQuitter button{
	text-decoration: none;
	color: #FDEE00;
	background-color: #696969;
	border-color:  yellow;
	outline : none;
}
button a{
	color: #FDEE00;
	background-color: #696969;
	text-decoration: none;
	border-color:  yellow;
	outline : none;
}

/* checkbox */
/* enlever les checkbox et afficher que les labels */
input[type="checkbox"]{display: none;}
input[type="checkbox"] + label::before{
    content:"";
    display:inline-block;
    width:1.4vh;
    height:1.4vh;
    border:0.3vh solid grey;
    border-radius: 0.5vh;
    background:#b3b3b3;
}
/* mettre un background de couleur si les checkbox sont checked */
.pariReponseJaune input[type="checkbox"]:checked + label::before{background:#ffd800;}
.pariReponseBleue input[type="checkbox"]:checked + label::before{background:#2551d9;}
.pariReponseRouge input[type="checkbox"]:checked + label::before{background:#fb2b2b;}
.pariReponseViolette input[type="checkbox"]:checked + label::before{background:#864daf;}
.pariReponseBlanche input[type="checkbox"]:checked + label::before{background:white;}
.pariReponseVerte input[type="checkbox"]:checked + label::before{background:#2fb129;}
/* mettre un background de couleur si les checkbox sont survolés */
.pariReponseJaune input[type="checkbox"]:hover + label::before{background:rgba(255, 216, 0, 0.25);}
.pariReponseBleue input[type="checkbox"]:hover + label::before{background:rgba(37, 81, 217, 0.25);}
.pariReponseRouge input[type="checkbox"]:hover + label::before{background:rgba(251, 43, 43, 0.25);}
.pariReponseViolette input[type="checkbox"]:hover + label::before{background:rgba(134, 77, 175, 0.25);}
.pariReponseBlanche input[type="checkbox"]:hover + label::before{background:rgba(255, 255, 255, 0.50);}
.pariReponseVerte input[type="checkbox"]:hover + label::before{background:rgba(47, 177, 41, 0.25);}
/* enlever le background de couleur si les checkbox sont survolés mais qu'elles sont déjà checked */
.pariReponseJaune input[type="checkbox"]:checked:hover + label::before{background:#ffd800;}
.pariReponseBleue input[type="checkbox"]:checked:hover + label::before{background:#2551d9;}
.pariReponseRouge input[type="checkbox"]:checked:hover + label::before{background:#fb2b2b;}
.pariReponseViolette input[type="checkbox"]:checked:hover + label::before{ background:#864daf;}
.pariReponseBlanche input[type="checkbox"]:checked:hover + label::before{background:white;}
.pariReponseVerte input[type="checkbox"]:checked:hover + label::before{background:#2fb129;}


/* -------------- */
/* --- Cartes --- */
/* -------------- */

/* carteTitre = nav pour le titre */
#carteTitre{
	position: fixed;
	top:70vh;
	left: 20vh;
	background-color: #9E9E9E;
	border-radius: 2vh;
	border: 0.4vh solid grey;
	width: 12vh;
	height: 4vh;
	padding-top:1vh;
	font-size: 3vh;
	text-align: center;
	z-index: 2;
}

/* ligneCartes = nav pour les cartes */
#ligneCartes{
	position: fixed;
	overflow: auto;
	top:75vh;
	left:14vh;
	right: 14vh;
	height: 19vh;
	background-color: #9E9E9E;
	border-radius: 2vh;
	border: 0.4vh solid grey;
	padding: 1vh;
	font-size: 0; /* pour eviter les espaces indesirables des "display : inline-block" */
}

/* cartes mise en background des navs ... */
.imagee{
	display: inline-block;
	width: 15vh;
	height: 18vh;
	margin: 1.35vh;
}
/* images pour cacher les trous des scolls barres */
#carreHaut{
	position: fixed;
	top: 75.3vh;
	right: 14vh;
	width: 1.75vh;
	height: 2.5vh;
	z-index: 99;
	background-image: url(../img/carreHaut.png);
	background-size: cover;
}
#carreBas{
	position: fixed;
	top: 93.4vh;
	right: 14vh;
	width: 1.75vh;
	height: 3vh;
	z-index: 99;
	background-image: url(../img/carreBas.png);
	background-size: cover;
}


/* ----------------------------------- */
/* --- Choix pour les cartes noirs --- */
/* ----------------------------------- */
#choixCartes{
	 position: fixed;
	 top:25vh;
	 left: 75vh;
	 background-color: #9E9E9E;
	 border-radius: 2vh;
	 border: 0.4vh solid grey;
	 padding: 1vh;
	 z-index: 10007;
 }
input[type="radio"]{display: none;}
input[type="radio"] + label::before{
	content:"";
	display:inline-block;
	width:10px;
	height:10px;
	border:1.5px solid grey;
	border-radius: 8px;
	background:#b3b3b3;
}
/* mettre un background de couleur si les checkbox sont checked */
.choixJaune input[type="radio"]:checked + label::before{background:#ffd800;}
.choixBleue input[type="radio"]:checked + label::before{background:#2551d9;}
.choixRouge input[type="radio"]:checked + label::before{background:#fb2b2b;}
.choixViolette input[type="radio"]:checked + label::before{background:#864daf;}
.choixBlanche input[type="radio"]:checked + label::before{background:white;}
.choixVerte input[type="radio"]:checked + label::before{background:#2fb129;}
/* mettre un background de couleur si les checkbox sont survolés */
.choixJaune input[type="radio"]:hover + label::before{background:rgba(255, 216, 0, 0.25);}
.choixBleue input[type="radio"]:hover + label::before{background:rgba(37, 81, 217, 0.25);}
.choixRouge input[type="radio"]:hover + label::before{background:rgba(251, 43, 43, 0.25);}
.choixViolette input[type="radio"]:hover + label::before{background:rgba(134, 77, 175, 0.25);}
.choixBlanche input[type="radio"]:hover + label::before{background:rgba(255, 255, 255, 0.50);}
.choixVerte input[type="radio"]:hover + label::before{background:rgba(47, 177, 41, 0.25);}
/* enlever le background de couleur si les checkbox sont survolés mais qu'elles sont déjà checked */
.choixJaune input[type="radio"]:checked:hover + label::before{background:#ffd800;}
.choixBleue input[type="radio"]:checked:hover + label::before{background:#2551d9;}
.choixRouge input[type="radio"]:checked:hover + label::before{background:#fb2b2b;}
.choixViolette input[type="radio"]:checked:hover + label::before{ background:#864daf;}
.choixBlanche input[type="radio"]:checked:hover + label::before{background:white;}
.choixVerte input[type="radio"]:checked:hover + label::before{background:#2fb129;}
.btnChoix button{
	color: yellow;
	font-size: 15px;
	background-color: #696969;
	outline : none;
	border-color:yellow ;
}
.laCarte{
	padding-left: 30px;
}
.btnLaCarte{
	padding-top: 30px;
	padding-bottom: 15px;
}


/* ------------------------------ */
/* --- Affichage des voitures --- */
/* ------------------------------ */

.joueurVoiture{
	position: fixed;
	width: 4.8vh;
 	height: 2.6vh;
 	z-index: 10;
    background-size: cover;
}
#joueurJaune{
	top: 0vh;
 	left: 0vh;
	z-index: -1;
 	background-image: url(../img/joueurJaune.png);
}
#joueurBleu{
 	top: 0vh;
 	left: 0vh;
	z-index: -1;
 	background-image: url(../img/joueurBleu.png);
}
#joueurVert{
 	top: 0vh;
 	left: 0vh;
	z-index: -1;
 	background-image: url(../img/joueurVert.png);
}
#joueurBlanc{
 	top: 0vh;
 	left: 0vh;
	z-index: -1;
 	background-image: url(../img/joueurBlanc.png);
}
#joueurViolet{
 	top: 0vh;
 	left: 0vh;
	z-index: -1;
 	background-image: url(../img/joueurViolet.png);
}
#joueurRouge{
 	top: 0vh;
 	left: 0vh;
	z-index: -1;
 	background-image: url(../img/joueurRouge.png);
}


/* ----------------------------------- */
/* --- compteur // compte à rebour --- */
/* ----------------------------------- */

#navCompteur{
	position: fixed;
	top:9vh;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #9E9E9E;
	border-radius: 1vh;
	border: 0.4vh solid red;
	padding: 0.5vh;
	z-index: 120;
}
#compteurInclicable{
	position: fixed;
	top:15.2vh;
	left:0vh;
	right: 0vh;
	bottom: 0vh;
	z-index: 10004;
	background-color: transparent;
}