#tutoPrez{
    font-size: 2vh;
    position: fixed;
    top: 40vh;
    left: 47vh;
    padding: 1vh;
    background-color: #9E9E9E;
    border-radius: 2vh;
    border: 0.4vh solid grey;
    z-index: 100000;
}
#tutoPrez button, #tutoTouSElmt button{
    font-size: 2vh;

    padding-bottom: 0.2vh;
    padding-top: 0.2vh;
    padding-left: 0.6vh;
    padding-right: 0.6vh;
    text-decoration: none;
    color: #FDEE00;
    background-color: #696969;
    border-color:  yellow;
    border-width: 0.3vh;
    outline : none;
}
#tutoParis button{
     font-size: 2vh;
    padding-bottom: 0.2vh;
    padding-top: 0.2vh;
    padding-left: 0.6vh;
    padding-right: 0.6vh;
     text-decoration: none;
     color: #FDEE00;
     background-color: #696969;
     border-color:  yellow;
     border-width: 0.3vh;
     outline : none;
}
#tutoParis .next{
    margin-top:-4vh;
}
#tutoTouSElmt{
    font-size: 2vh;
    position: fixed;
    top: 25vh;
    left: 126vh;
    width: 42vh;
    padding: 1vh;
    background-color: #9E9E9E;
    border-radius: 2vh;
    border: 0.4vh solid grey;
    z-index: 100000;
}
#tutoParis{
    font-size: 2vh;
    position: fixed;
    top: 75vh;
    left: 14vh;
    right: 14vh ;
    padding: 1vh;
    background-color: #9E9E9E;
    border-radius: 2vh;
    border: 0.4vh solid grey;
    z-index: 100000;
}

#ligneJaune{
    position: fixed;
    left: 46vh;
    top: 35vh;
    width: 8vh;
    height: 1.66vh;
    background-image: url(../img/ligneJaune.png);
    background-size: cover;
}
#tutoInclicable{
    position: fixed;
    top:0vh;
    left:0vh;
    right: 0vh;
    bottom: 0vh;
    z-index: 10008;
    background-color: transparent;
}
#fondTuto1{
    position: fixed;
    top :19vh;
    right:57.5vh;
    width:18.3vh;
    height:54.2vh;
    z-index: 10008;
    background-color: rgba(251, 251, 251, 0.75);
}
#fondTuto2{
    position: fixed;
    top :19vh;
    right: 17.9vh;
    width:26.6vh;
    height:54.2vh;
    z-index: 10008;
    background-color: rgba(251, 251, 251, 0.75);
}
#fondNoir{
    position: fixed;
    top :15.4vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    background-color: black;
}